<li class="match table{{ match.table }}">
    <span class="table glyphicon-stop table_id{{ match.table }}"></span>
    <span class="match_info">
    
        <span class="player_in_matches player0">
            <span class="name_in_matches"><span class="rbstatus robot1status{{match.match.status}}"></span>{{ match.match.robot1.name }}</span>
            <span class="teamnumber_in_matches">{{ match.match.robot1.team_number }}</span>
        </span>
        <span class="player_in_matches player1">
            <span class="name_in_matches"><span class="rbstatus robot2status{{match.match.status}}"></span>{{ match.match.robot2.name }}</span>
            <span class="teamnumber_in_matches">{{ match.match.robot2.team_number }}</span>
        </span>
    </span>
</li>
