body{
  margin: 25px;
}

article {
  padding-top: 1em;
}

.ranking ol {
  max-width: 18em;
}

.ranking li.player .score {
  float: right;
  font-weight: bold;
}

.matches .player.winner {
  font-weight: bold;
}


.matches ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}




.player .teamnumber::before {
  content: "(";
}

.player .teamnumber::after {
  content: ")";
}

.player .teamnumber {
  font-size: .8em;
}



.table0 .glyphicon {
  color: red;
}

.table1 .glyphicon {
  color: yellow;
}

.table2 .glyphicon {
  color: green;
}

.table3 .glyphicon {
  color: orange;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 25px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list .listitemcontainer{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.rounded-list .listitemcontainer:hover{
    background: #eee;
}

.rounded-list .listitemcontainer:hover:before{
    transform: rotate(360deg);
}

.rounded-list .listitemcontainer:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.rectangle-list .listitemcontainer{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list .listitemcontainer:hover{
    background: #eee;
}

.rectangle-list .listitemcontainer:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #428bca;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.rectangle-list .listitemcontainer:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list .listitemcontainer:hover:after{
    left: -.5em;
    border-left-color: #428bca;
}
